.carousel-inner .carousel-item
{
    height:400px;
    width:1400px;
}
.carousel-control-prev,.carousel-control-prev-icon{
    position:absolute;
    top:80px;
    left:20px;
}
.carousel-control-next,.carousel-control-next-icon
{
    position:absolute;
    top:80px;
    right:20px;
}
.corousel
{
    position:relative;
}